<div class="home-view">
  <span class="home-view__title">¡Welcome!</span>
  <div>
    <a href="/auth/signup"><button
        type="button"
        class="btn btn-info registro"
      >Register</button></a>

    <a href="/auth/login">
      <button type="button" class="btn btn-info login">Login</button>
    </a>
  </div>
</div>