<div class="home-view">
    <span class="home-view__title">¡Bienvenido!</span>
    <div>
        <button type="button" class="btn btn-info registro"><a href="/signup">Registrarme</a></button>
        <button type="button" class="btn btn-info login"><a href="/login">Ingresar</a></button>
    </div>
</div>