<div class="login-view">
  <h1>Login</h1>
  <div>
    <form method="post" action="api/login">
      <div class="login-view__form">
        <label class="login-view__form-label" for="email">email:</label>
        <input
          class="login-view__form-input"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <br />
      <div class="login-view__form">
        <label class="login-view__form-label" for="password">password:</label>
        <input
          class="login-view__form-input"
          type="password"
          name="password"
          id="password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-info">Login</button>
    </form>
  </div>

</div>